<div class="col-8 offset-2 text-center">
  <h2><%= @piece.game.name %></h2>
</div>

<br />

<div class="row">
  <div class="col-lg-3 text-center">
    <h4>
      <%= @piece.game.get_player_one %>      
    </h4>
    <hr />
    <h3>Captured Pieces</h3>
    <br />
    <% @piece.game.captured_black_pieces.each do |piece| %>
      <div class="captured"><%= piece.piece_number %></div>
    <% end %>
  </div>
  <div class="col-lg-6">
    <%= render :partial => "games/board", :locals => { :the_piece => @piece, :the_game => @piece.game } %>
  </div>
  <div class="col-lg-3 text-center">
    <h4>
      <%= @piece.game.get_player_two %>    
    </h4>
    <hr />
    <h3>Captured Pieces</h3>
    <br />
    <% @piece.game.captured_white_pieces.each do |piece| %>
      <div class="captured"><%= piece.piece_number %></div>
    <% end %>
  </div>
</div>