$('.game-board').html('<%= j (render partial: 'games/board') %>');
$('.player-one').html('<%= j (render partial: 'games/player_one') %>');
$('.player-two').html('<%= j (render partial: 'games/player_two') %>');
init_draggables_and_droppables();

<% if @piece.type == 'Pawn' %>
  <% if @piece.promotable? %>
    $('[data-piece-id="<%= @piece.id %>"]').popover({
      placement: 'top',
      html: true,
      title: "Choose promotion:",
      trigger: "manual",
      content: "<div id='pawn-promotion' class='mx-auto'></div>"
    });

    $('[data-piece-id="<%= @piece.id %>"]').popover('show');

    $('#pawn-promotion').html(' \
      <% %w[Bishop Knight Queen Rook].each do |type| %> \
        <% @piece.reload %> \
        <%= link_to type, piece_promotion_path(@piece, id: @piece.id, x_position: @x, y_position: @y, promotion: type), \
                                               method: :put, remote: true %>&nbsp \
      <% end %>')
  <% end %>
<% end %>
