<% 8.times do |y| %> 
  <div class="row justify-content-center">
    <% 8.times do |x| %>
      <% piece = get_piece(x, y, the_game) %>        
      <% if is_square_for_piece_to_be_moved?(the_piece, piece) %>
        <div id="<%= @piece.x_position%>,<%= @piece.y_position %>" class="purple">
          <%= render_piece(x, y, @piece.game, 'green') %>
        </div>
      <% else %>
        <div id="<%= x %>,<%= y %>" class="<%= is_black?(x,y) ? "black" : "white" %>">
          <% if the_piece %>
            <%= link_to piece_path(x_position: x, y_position: y), action: :update, method: :PUT do %>
              <div class="transparent_box"></div>
                <% if piece.present? %>
                  <div class="move_on_top_of_transparent_box">
                    <% piece.piece > 5 ? color = 'blue' : color = 'red' %>
                    <%= render_piece(x, y, the_game, color) %>
                  </div>
                <% end %>
            <% end %>
          <% end %>
          <% if piece.present? && !the_piece %>
            <%= link_to piece_path(piece.id), data: {turbolinks: false} do %>        
              <% piece.piece > 5 ? color = 'blue' : color = 'red' %>
              <%= render_piece(x, y, the_game, color) %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

