<% if flash.now[:alert].present? %>
  <div class="deliver-message alert alert-danger">
    <% flash.now[:alert].each do |alert| %>
      <%= alert %>
    <% end %>
  </div>
<% end %>
<% if @game.state == 'Draw' %>
  <div class="row justify-content-center"><h3>This game is over. It ended in a draw!</h3></div>
<% end %>
<% if @game.winner != nil %>
  <div class="row justify-content-center"><h3>This game is over.<%= @game.winner.email %> has won! </h3></div>
<% end %>
<% 8.times do |y| %>
  <div class="row justify-content-center">
    <% 8.times do |x| %>
      <div id="<%= x %>-<%= y %>" data-x-coord=<%= x %> data-y-coord=<%= y %> class="<%= black_tile?(x,y) ? "black tile" : "white tile" %>">
        <% piece = get_piece(x, y, @game) %>
        <% if can_move_piece?(piece) %>
          <%= image_tag piece.piece_number.to_s + ".png", 
                class: 'piece', 
                data: {piece_id: piece.id} %>
        <% end %>
        <% if can_not_move_piece?(piece) %>
          <%= image_tag piece.piece_number.to_s + ".png", 
                class: 'piece2',
                data: {piece_id: piece.id} %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
