<% if flash.now[:alert].present? %>
  <div class="deliver-message alert alert-danger">
    <% flash.now[:alert].each do |alert| %>
      <%= alert %>
    <% end %>
  </div>
<% end %>

<% 8.times do |y| %>
  <div class="row justify-content-center">
    <% 8.times do |x| %>
      <% piece = get_piece(x, y, @game) %>
        <div id="<%= x %>,<%= y %>" data-x-coord=<%= x %> data-y-coord=<%= y %> class="<%= black_tile?(x,y) ? "black tile" : "white tile" %>">
          <% if piece.present? %>
              <%= image_tag piece.piece_number.to_s + ".png", class: "piece", data: { piece_id: piece.id, x_coord: piece.x_position, y_coord: piece.y_position } %>
          <% end %>
        </div>
    <% end %>
  </div>
<% end %>
