<h4 class="<%= player_twos_turn? ? "your-turn" : "not-your-turn" %>">
  <%= @game.get_player_two %>
  <br />
</h4>
<div class="row justify-content-center">  
  <% if can_black_queenside_castle?(black_queenside_rook) %>
    <%= link_to "Black Queen Side Castle", piece_castle_path(piece_id: black_king, rook_id: black_queenside_rook), 
              method: :get, remote: true, data: {confirm: 'Are you sure you want to Castle?'},
              class: 'btn btn-secondary' %>
    <% end %>
  <% if can_black_kingside_castle?(black_kingside_rook) %>
    <%= link_to "Black King Side Castle", piece_castle_path(piece_id: black_king, rook_id: black_kingside_rook), 
              method: :get, remote: true, data: {confirm: 'Are you sure you want to Castle?'},
              class: 'btn btn-secondary' %>
  <% end %>
  <% if @game.can_claim_draw?(current_user) && current_user == @game.player_two && @game.state != 'Draw' && your_turn? %>
  <%= link_to "Claim a draw", game_draw_path(@game), method: :get, remote: true, 
            data: {confirm: 'Are you sure you want to end this game in a draw?'},
            class: 'btn btn-secondary' %>
  <% end %>
</div>    
<hr />
<h3>Captured Pieces</h3>
<br />
<% captured_white_pieces.each do |piece| %>
  <div class="captured"><%= image_tag piece.piece_number.to_s + ".png", class: "piece2" %></div>
<% end %>
