<h1>Ahoy Mateys!!!</h1>
<br />

<% if current_user %>
  <%# Wanted to add a create game button for when someone is logged in and there are games to join. Otherwise there is only the link on the nav bar. %>
  <% if @games.available.present? %>
    <h2>Create a new game. <%= link_to 'New Game', new_game_path, class: 'btn btn-primary'%></h2>
  <% end %>
  <% if @created.present? %>
    <ul class="list-group">
      <h2>Created Games</h2>
          <% @created.each do |game| %>
            <li class="list-group-item">
              <h4><%= link_to game.name, game_path(game) %></h4>
            </li>
          <% end %>
    </ul>
  <% end %>

  <% if @joined.present? %>
    <ul class="list-group">
      <h2>Joined Games</h2>
          <% @joined.each do |game| %>
            <li class="list-group-item">
              <h4><%= link_to game.name, game_path(game) %></h4>
            </li>    
          <% end %>
    </ul>
  <% end %>
<% end %>

<br />

  <% if @games.available.present? %>
    <ul class="list-group">
      <h2>Available Games</h2>
      <% @games.available.each do |game| %>
        <li class="list-group-item">
          <h4><%= game.name %></h4> &nbsp &nbsp &nbsp 
          <%= link_to "Join", game_update_invited_user_path(game), remote: true,
              method: :get, data: {confirm: 'Are you sure you want to join?'},
              class: 'btn btn-secondary' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h2>No games available to join. <%= link_to 'New Game', new_game_path, class: 'btn btn-primary'%></h2>
  <% end %>
