<h1>Ahoy Mateys!!!</h1>
<br />

<% if current_user.present? %>
  <h2>Created Games</h2>
  <% @created.each do |game| %>
    <%= link_to game.name, game_path(game) %>
  <% end %>

  <h2>Joined Gamed</h2>
  <% @joined.each do |game| %>
    <%= link_to game.name, game_path(game) %>     
  <% end %>
<% end %>

<br />

<% if @games.present? %>
  <% if @games.available.present? %>
    <ul class="list-group">
      <h2>Available Games</h2>
      <% @games.available.each do |game| %>
        <li class="list-group-item">
          <h2><%= game.name %></h2>
          <%= link_to "Join", game_update_invited_user_path(game), 
              method: :get, data: {confirm: 'Are you sure you want to join?'},
              class: 'btn btn-secondary' %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h2>No games available. <%= link_to 'New Game', new_game_path, class: 'btn btn-primary'%></h2>
  <% end %>
<% end %>