<div class="col-8 offset-2 text-center">
  <h2><%= @game.name %></h2>
</div>

<br />

<div class="row">
  <div class="col-lg text-center">
    <h4>
      <%= @game.get_player_one %>      
    </h4>
    <hr />
    <h3>Captured Pieces</h3>
    <br />
    <% @captured_black_pieces.each do |piece| %>
      <div class="captured"><%= image_tag piece.piece_number.to_s + ".png", class: "piece" %></div>
    <% end %>
  </div>
  <div class="game-board col-lg-auto">
    <%= render partial: 'board', the_game: @game %>
  </div>
  <div class="col-lg text-center">
    <h4>
      <%= @game.get_player_two %>    
    </h4>
    <hr />
    <h3>Captured Pieces</h3>
    <br />
    <% @captured_white_pieces.each do |piece| %>
      <div class="captured"><%= image_tag piece.piece_number.to_s + ".png", class: "piece" %></div>
    <% end %>
  </div>
</div>

<script type='text/javascript'>
  function init_draggables_and_droppables() { 
      $('.piece').draggable({
        containment: '.gameboard',
        snap: '.tile',
        revert: true,
        cursor: 'crosshair',
        scroll: false
      });

      $('.tile').droppable({
        drop: function( event, ui ) {
          piece_id = ui.draggable.data('piece-id')
          x_position = $(this).data('x-coord')
          y_position = $(this).data('y-coord')
          $.ajax({
            url: `/pieces/${piece_id}?x_position=${x_position}&y_position=${y_position}`,
            type: 'PUT'
          });
        }
      });
    }
  
  $(function() {
    init_draggables_and_droppables();
  });
</script>
