

<br />

<div class="col-8 offset-2 text-center">
  <h2><%= @game.name %></h2>
  <% if @game.state == 'Surrendered' %><p class="game-state-message"><%= @game.winner_id %> won due to surrender!</p><% end %>
</div>

<br />

<div class="row">
  <div class="col-lg-3 text-center">
    <h4>
      <%= @game.get_player_one %>      
    </h4>
    <hr />
    <h3>Captured Pieces</h3>
    <br />
    <% @captured_black_pieces.each do |piece| %>
      <div class="captured"><%= image_tag piece.piece_number.to_s + ".png", class: "piece" %></div>
    <% end %>
  </div>
  <div class="col-lg-6">
    <% if @game.state == 'Surrendered' %><div class="surrendered"></div><% end %>
    <%= render :partial => "board", :locals => { :the_piece => nil, :the_game => @game } %>
  </div>
  <div class="col-lg-3 text-center">
    <h4>
      <%= @game.get_player_two %>    
    </h4>
    <hr />
    <h3>Captured Pieces</h3>
    <br />
    <% @captured_white_pieces.each do |piece| %>
      <div class="captured"><%= image_tag piece.piece_number.to_s + ".png", class: "piece" %></div>
    <% end %>
  </div>
</div>