<div class="col-8 offset-2 text-center">
  <h2><%= @game.name %></h2>
</div>

<br />

<div class="col-8 offset-2">
  <% 8.times do |x| %>
    <div class="row justify-content-center">
      <% 8.times do |y| %>
        <% if x % 2 == 0 && y % 2 == 0 || x % 2 == 1 && y % 2 == 1 %>
          <div id="<%= x %>,<%= y %>" class="black">
          </div>
        <% else %>
          <div id="<%= x %>,<%= y %>" class="white">
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>