<div class="col-8 offset-2 text-center">
  <h2><%= @game.name %></h2>
</div>

<br />

<div class="row">
  <div class="col-lg text-center">
    <h4>
      <%= @game.get_player_one %>      
    </h4>
    <hr />
    <h3>Captured Pieces</h3>
    <br />
    <% @captured_black_pieces.each do |piece| %>
      <div class="captured"><%= image_tag piece.piece_number.to_s + ".png", class: "piece" %></div>
    <% end %>
  </div>
  <div id="gameboard" class="col-lg-auto">
    <%= render :partial => "board", :locals => {:the_game => @game } %>
  </div>
  <div class="col-lg text-center">
    <h4>
      <%= @game.get_player_two %>    
    </h4>
    <hr />
    <h3>Captured Pieces</h3>
    <br />
    <% @captured_white_pieces.each do |piece| %>
      <div class="captured"><%= image_tag piece.piece_number.to_s + ".png", class: "piece" %></div>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    $('.piece').draggable({
      containment: ".gameboard",
      snap: ".tile",
      cursor: "move"
    });
    $('.tile').droppable({
      drop: function( event, ui ) {
        var piece = ui.draggable
        var destination_square = $(this);
        var update_piece = {
          id: piece.data('piece-id'), 
          x_position: destination_square.data('x-coord'),
          y_position: destination_square.data('y-coord'),
        }
        $.ajax({
          type: 'PATCH',
          url: '/pieces/' + update_piece.id,
          dataType: 'json',
          data: {
            piece: {
              x_position: update_piece.x_position,
              y_position: update_piece.y_position,
            }
          },
          error: function() {
            location.reload();
            alert("That is not a valid move!");
          },
          success: function() {
            location.reload();
          },
        });
      }
    });
  });  
</script>
