<div class="col-8 offset-2 text-center">
  <h2><%= @game.name %></h2>
  <% if @game.state == 'Surrendered' %><p class="game-state-message"><%= @game.winner_id %> won due to surrender!</p><% end %>
</div>

<br />

<div class="row">
  <div class="col-lg-3 text-center">
    <h4>
      <%= @game.get_player_one %>
      <% if white_queenside_rook.present? && white_king.can_castle?(white_queenside_rook) && current_user == @game.player_one %>
      <%= link_to "White Queen Side Castle", piece_castle_path(piece_id: white_king, rook_id: white_queenside_rook), 
              method: :get, data: {confirm: 'Are you sure you want to Castle?'},
              class: 'btn btn-secondary' %>
      <% end %>
      <% if white_kingside_rook.present? && white_king.can_castle?(white_kingside_rook) && current_user == @game.player_one %>
      <%= link_to "White King Side Castle", piece_castle_path(piece_id: white_king, rook_id: white_kingside_rook), 
              method: :get, data: {confirm: 'Are you sure you want to Castle?'},
              class: 'btn btn-secondary' %>
      <% end %>       
    </h4>
    <hr />
    <h3>Captured Pieces</h3>
    <br />
    <% @captured_black_pieces.each do |piece| %>
      <div class="captured"><%= image_tag piece.piece_number.to_s + ".png", class: "piece" %></div>
    <% end %>
  </div>
  <div class="col-lg-6">
    <% if @game.state == 'Surrendered' %><div class="surrendered"></div><% end %>
    <%= render :partial => "board", :locals => { :the_piece => nil, :the_game => @game } %>
  </div>
  <div class="col-lg-3 text-center">
    <h4>
      <%= @game.get_player_two %>
      <% if black_queenside_rook.present? && black_king.can_castle?(black_queenside_rook) && current_user == @game.player_two %>
      <%= link_to "Black Queen Side Castle", piece_castle_path(piece_id: black_king, rook_id: black_queenside_rook), 
              method: :get, data: {confirm: 'Are you sure you want to Castle?'},
              class: 'btn btn-secondary' %>
      <% end %>
      <% if black_kingside_rook.present? && black_king.can_castle?(black_kingside_rook) && current_user == @game.player_two %>
      <%= link_to "Black King Side Castle", piece_castle_path(piece_id: black_king, rook_id: black_kingside_rook), 
              method: :get, data: {confirm: 'Are you sure you want to Castle?'},
              class: 'btn btn-secondary' %>
      <% end %>    
    </h4>
    <hr />
    <h3>Captured Pieces</h3>
    <br />
    <% @captured_white_pieces.each do |piece| %>
      <div class="captured"><%= image_tag piece.piece_number.to_s + ".png", class: "piece" %></div>
    <% end %>
  </div>
</div>